.main__container
{
    height: calc(100%-5rem);
    margin-top: 5rem;
    max-width: fit-content;
    margin-inline: auto;
}

/* input[type=range]
{
    margin: 20px 0;
    cursor: pointer;    
}

input[type=range]:focus
{
       outline: black;
}

.range-wrap
{
    width: 500px;
    position: relative;
}

#priceV
{
    position: absolute;
}

#priceV span
{
    width: 30px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    left: 50%;
    display: block;
    /* color: white; 
    position: absolute;
    transform: translate(-50%,0);
    background-color: #03a9f4;
    border-radius: 6px;
    /* left: 50%; 
}

#priceV span::before
{
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    border-top: 10px solid #03a9f4;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    position:absolute;
    margin-left: -5px;
    margin-top: -1px;
} */


/* .choice__form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    padding: 0.5rem 0;
    gap: 1rem;
    background-color: rgba(183, 172, 172, 0.5);
    margin-bottom: 2rem;
} */
.choice__form label
{
    cursor: pointer;
    
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3rem;
}
.choice__form select
{
    width: 20rem;
    display: block;
    font-size: 1rem;
    font-weight:400;
    line-height: 2rem;
    border-radius: 0.5rem;
    margin-top: 0.4rem;
    padding: 0.4rem 2.25rem 0.4rem  0.75rem;
    border: 0.1pc solid #E31836;
}
.choice__form p
{
    padding: 0 1rem;
    
}
.choice__form button
{
    width: 20rem;
    height: 2.5rem;
    margin-top: 1.4rem;
    background-color: #212529;
    /* display: inline-block; */
    /* line-height: 2rem; */
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.5rem;
}

/* .advertise
{
    
} */

@media screen and (max-width:420px)
{
    .choice__form
    {
        margin-inline: auto;
    }

}