/* #footer :any-link */
/* {
    color: black;
} */
.footer-link
{
    text-decoration: none;
    color: white;
}
.footer-link:hover
{
    color: black !important;
}
#footer
{
    background-color: rgb(227, 24,55);  
}


.footer__container
{
    
    position: relative;
    bottom: -10rem;
    display: grid;
    padding: 1rem 2rem;
    grid-template-columns: repeat(4,1fr);
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 24,55);
}
.footer__container :any-link
{
    color: black;
}
.footer__container p
{
    color: white;
}



@media screen and (max-width:770px) {
    .discription {
        display: none;
        visibility: hidden;

    }

    .icon-visible {
        visibility: visible;
        float: left;
    }
     .share {
        font-size: 0px;
    }

    #footer .table {
        font-size: 3.4vw !important;
    }

    .aboutRealBidz {
        font-size: 2.4vw;
        margin-bottom: 0vh;
    }
    .abc
    {
        display: none;
    }
    .concat
    {
        padding: 0;
        margin: 0;
    }
    .footers_rb
    {
        position: relative;
        margin-bottom: 25vh;
    }
}
@media screen and (min-width:771px) and (max-width:900px) {
    
    #footer .table
    {
        font-size: 2.4vw !important;
    }
    .aboutRealBidz
    {
        font-size: 2.4vw;
        margin-bottom: 10vh;
    }
    .discription
    {
        font-size: 2vw;
    }
    .footers_rb
    {
        position: relative;
        margin-bottom: 20vh;
    }
}