.form__container
{
    height: calc(100%-5rem);
    margin-top:6rem;
    /* max-width: fit-content; */
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* gap: 2rem; */
    /* margin-inline: auto; */
}

.form__left
{
    padding-left: 6.5rem;
    padding-top: 10rem !important;
    
}


.form__right
{
    padding: 1rem 0;
    /* margin: 0 auto; */
}
.form__right form{
    float: left;
}
.form__right form input:not(input[type="checkbox"]){
    width: 100%;
    padding: 0.6rem 0.6rem;
    margin-top: 0.4rem;
}
.form__right form input::placeholder
{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0,0,0,0.4);
}
.form__right p
{
    margin: 1rem auto;
}
/* .tandc
{
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 3rem;
} */

@media screen and (max-width:992px) {
    .form__right
    {
        padding: 0;
    }
    .form__left
    {
        display: none;
    }
}